.news-page {
  min-height: 70vh;
  padding: 7em 20px 4em 20px;
  box-sizing: border-box;
}

.news-header {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.news-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  /* gap: 20px; */
  /* justify-items: center; */
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  width: 85%;
  margin: 1em auto;
}

.news-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
  width: 450px;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.news-imagee img,
.youtube-video iframe {
  width: 100%;
  border-radius: 10px 10px 0 0; /* Rounded corners for top */
  transition: opacity 0.3s ease;
}

.news-imagee img {
  height: 200px; /* Fixed height for image */
  object-fit: cover;
}

.youtube-video iframe {
  height: 200px; /* Fixed height for video */
}

.news-content {
  padding: 15px;
  flex-grow: 1;
}

.news-date {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.news-description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .news-header {
    font-size: 24px;
  }

  .news-card {
    width: 90%;
  }

  .news-title {
    font-size: 18px;
  }

  .news-description {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .news-card{
    width: 290px;
  }
  .news-header {
    font-size: 20px;
  }

  .news-title {
    font-size: 16px;
  }

  .news-description {
    font-size: 14px;
  }

  .news-image img {
    height: 180px; /* Slightly smaller on mobile */
  }

  .youtube-video iframe {
    height: 180px; /* Consistent with image height */
  }
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #f0f0f0;
}
